<div class="flex">
    <div class="mr-1"><%= link_to "Delete", job, method: :delete, class: "no-underline hover:underline text-blue" %></div>
    <div class="ml-1"><%= link_to "Edit", edit_job_path(job), class: "no-underline hover:underline text-blue" %></div>
</div>