<div class="grid grid-cols-1 md:grid-cols-2 gap-x-4" id="job-roster">
  <div class="job-list grid grid-cols-1 gap-y-4">
    <%= render @jobs %>
  </div>
  <div class="rss-subscribe hidden md:block">
    <%= render 'rss-subscribe', subscriber: @subscriber %>
  </div>
</div>