<div class="grid grid-cols-2 gap-x-4">
  <div class="job-list grid grid-cols-1 gap-x-4">
    <%= render @jobs %>
  </div>
  <div class="rss-subscribe">
    <%= render 'rss-subscribe', subscriber: @subscriber %>
  </div>
</div>