// Place all the styles related to the Job controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");

body {
  background-color: #f5f5f5;
}

.nav-color,
.booster {
  background-color: #4495ad;
}

.actions-link {
  text-decoration-color: #ad8207;
}

.primary-btn {
  background-color: #f4364c;
  color: white;
}

.job-seekers {
  background-color: black;
  color: white;
}

.primary-btn:hover {
  background-color: black;
  cursor: pointer;
}

.job-seekers:hover {
  background-color: white;
  color: black;
}

.wsr-identity-link {
  font-family: "Train One", cursive;
}

.wsr-identity-link:hover {
  text-decoration: underline;
  text-underline-offset: 0.7rem;
  text-decoration-color: #f4364c;
}

.greet-text {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.spin {
  font-family: "Train One", cursive;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;

  -moz-animation-name: spin;
  -moz-animation-duration: 2000ms;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;

  -ms-animation-name: spin;
  -ms-animation-duration: 2000ms;
  -ms-animation-iteration-count: 1;
  -ms-animation-timing-function: ease-in;

  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

.close-rss-subscriber:hover {
  cursor: pointer;
}

.trix-dialogs {
  height: 100%;
}