<nav class="container flex justify-between p-4 m-auto nav-color mb-4 sticky top-0 z-50">
  <div class="wsr-identity">
    <%= link_to "Worksite Rocks!", root_path, class: "wsr-identity-link" %>
  </div>
  <div class="actions flex align-items">
    <li class="hidden md:block p-2 m-3 flex align-items job-seekers rounded-lg content-center border-2 border-black shadow-inner transition duration-300 ease-in-out transform hover:-translate-x-1">
      <%= link_to "JOB SEEKERS", root_path, class: "actions-link hover:underline block" %>
    </li>
    <li class="hidden md:block p-2 m-3 flex align-items post-job rounded-lg content-center border-2 border-black shadow-inner transition duration-300 ease-in-out transform hover:-translate-x-1">
      <%= link_to "POST A JOB!", new_job_path, class: "actions-link hover:underline block" %>
    </li>
  </div>
</nav>