<nav class="container flex justify-between p-4 m-auto nav-color mb-4">
  <div class="wsr-identity">
    <%= link_to "Worksite Rocks!", root_path, class: "wsr-identity-link" %>
  </div>
  <div class="actions flex align-items">
    <div class="p-2 flex align-items">
      <%= link_to "For Job Seekers", root_path, class: "actions-link hover:underline" %>
    </div>
    <div class="p-2 flex align-items">
      <%= link_to "Post a Job!", root_path, class: "actions-link hover:underline" %>
    </div>
  </div>
</nav>